.home{
    width:100%;
    min-height: 100vh;
    background-color: #0f172a;
    display: flex;
    /* border:5px solid rgb(214, 34, 64); */
}

.content{
    flex:1;
    min-height: 100%;
    padding: 2rem;
    overflow-y: auto;
    background-color: #0a1224de;
    /* border:5px solid rgb(37, 34, 214); */

}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}